@mixin flexbox($justify: space-between, $align: center, $wrap: nowrap, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}
@mixin truncated($width: 95%) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin layout($padding: 1rem, $max-width: calc(120rem - $padding)) {
  max-width: $max-width;
  margin: 0 auto;
  padding: $padding;
}

@mixin breakpoint($em) {
  @media (min-width: $em) {
    @content;
  }
}
